node_modules
vendor
storage
/public/storage
/public/build
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
.DS_Store
.git
.gitignore
tests
public.zip
docker-compose*.yml
docker-compose*.yaml
.postman
postman
